* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat',sans-serif, Arial;
  margin: 0px;
}
a {
  text-decoration: none;
  color: var(--app-grey);
}

.color-primary {
  color: var(--primary);
}

.flex {
  display: flex;
  box-sizing: border-box;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.p-rl-1 {
  padding-right: .5rem;
  padding-left: .5rem;
}

.p-rl {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-1 {
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.py-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-5 {
  padding-top: 3rem ;
  padding-bottom: 3rem;
}

.py-6 {
  padding-top: 6rem ;
  padding-bottom: 6rem;
}

.pointer {
  cursor: pointer;
}

.btn {
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .8rem 1.8rem;
  font-size: .7rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-white{
  color: var(--primary);
  background-color: var(--app-white);
}

.btn-primary{
  color: var(--app-white);
  background-color: var(--primary);
}